[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "3rdparty/nccl"]
	path = 3rdparty/nccl
	url = https://github.com/NVIDIA/nccl
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
