# PyCache files
build/
.cache/
tmp/
report*.nsys-rep

# general things to ignore
dist/
*.egg-info/
.eggs/
*.egg
*.py[cod]
__pycache__/
*.so
*.so.*
*~
python/ctlop/version.py

# due to using tox and pytest and clangd
.tox
.vscode
*.png
tools/*.cu
tools/*.prof.log